DEBUD=true

#Postgress
PGHOST=ep-empty-shape-alt5nk4y-podwoler.c-3.eu-central-1.aws.neon.tech
PGDATABASE=neondbddwd
PGUSER=neondb_ownerer
PGPASSWORD=npg_P4vqMG5fXbmSqwqyty
PGSSLMODE=require
PGCHANNELBINDING=require
PORT=5432
SENTRY_DSN=https://f2090bb1c3cbc79260401697841e8973@o4504606125064189.ingest.us.sentry.io/00000000000

#JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES=5m
JWT_REFRESH_TOKEN_EXPIRES=60m

#Redis
REDIS_HOST='redis-16271.crce288.eu-central-1-1.ec2.cloud.redislabs.com',
REDIS_PORT=16271,
REDIS_USERNAME="default",
REDIS_PASSWORD="!tBJz5jVhCVCr2RU!"
REDIS_DATABASE=0

#S3
S3_ENDPOINT_URL=https://objstorages.leapcells.io
S3_ACCESS_KEY_ID=30ee8395dc524720a9ca8e9face7d744df
S3_SECRET_ACCESS_KEY=61b3c2aa8e030af9627822253d4fce8a7d1acca2270d0805a3d32ce06d6d94e923hj
S3_REGION_NAME=us-east-1
S3_BUCKET_NAME=fastapistorage-dx43-aser-624zkgjn-567hj
S3_PUBLIC_URL=https://zikg6g.leapcellobj.com/fastapistorage-dx43-aser-624zkgjn-6747hf