DEBUD=true

#Postgress
PGHOST=ep-empty-shape-alt5nk4y-podwoler.c-3.eu-central-1.aws.neon.tech
PGDATABASE=neondbddwd
PGUSER=neondb_ownerer
PGPASSWORD=npg_P4vqMG5fXbmSqwqyty
PGSSLMODE=require
PGCHANNELBINDING=require
PORT=5432