DEBUD=true

#Postgress
PGHOST=ep-empty-shape-alt5nk4y-podwoler.c-3.eu-central-1.aws.neon.tech
PGDATABASE=neondbddwd
PGUSER=neondb_ownerer
PGPASSWORD=npg_P4vqMG5fXbmSqwqyty
PGSSLMODE=require
PGCHANNELBINDING=require
PORT=5432
SENTRY_DSN=https://f2090bb1c3cbc79260401697841e8973@o4504606125064189.ingest.us.sentry.io/00000000000

#JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES=5m
JWT_REFRESH_TOKEN_EXPIRES=60m

#Redis
REDIS_HOST='redis-16271.crce288.eu-central-1-1.ec2.cloud.redislabs.com',
REDIS_PORT=16271,
REDIS_USERNAME="default",
REDIS_PASSWORD="!tBJz5jVhCVCr2RU!"
REDIS_DATABASE=0